/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.obal {
    width: auto;
}

nav a {
    text-decoration: none;
    flex-basis: 50%;
    padding: 1rem;
    color: #25133d;
}

nav {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

nav a:first-child {
    font-weight: 700;
}

footer {
    background-color:#48418e;
    color:#e5e5e5;
    text-align: center;
}

nav a:hover {
    background-color: none;
    color:#f1e1fa;
}


.hlavna{
    background-image: url(images/pozadi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    color: #f1e1fa;
    padding: 1.2rem;
}

.mobil {
    display: none;
    
}

.tlacitka {
    display: flex;
    flex-direction: column;
    margin:1rem;
    padding: 1rem;
    
}

.tlacitka a {
    text-decoration: none;
    color: #f1e1fa;
    border: 0.1rem solid #f1e1fa;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.555);
    flex-grow: 1;
    text-align: center;
    background-color:transparent;
    font-weight: 400;

}

.tlacitko-1{
    margin:1rem;
    padding-bottom: 0.5rem;
    height: 60px;
}

.tlacitko-2{
    margin: 1rem;
    height: 60px;
}

a:hover{
    background-color: #6e4c9b
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-weight: 300;
    line-height: 1.5;
}
h3 {
    margin: 0.6rem;
}

.ponuka{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    }

.ponuka h3{
    color:#4d468f;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
}

.ponuka p{
    color:black;
}

.ponuka,
.cestuj,
.zazitkuj{
    margin: 1rem;
    padding: 1rem;
}